@import url('https://fonts.googleapis.com/css?family=Spirax');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*fonts*/
/*font-family: 'Spirax', cursive;*/
/*font-family: 'Roboto Condensed', sans-serif;*/

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

*{
  font-family: 'Roboto Condensed', sans-serif;
}

body{
    overflow-x: hidden !important;
}

.navbar-brand
{
    font-family:Roboto Condensed;
    font-weight: bold;
    /*font-family: 'Spirax', cursive;*/
}

.badge-notify{
   background:red;
  }

span#welcomenote
{
    font-family: 'Spirax', cursive;
}

.badge_custome
{
    padding:3px !important;
}

.icons
{
    background:red;
    color:#fff;
    padding:4%;
    text-align: center;
    width: 100px;
    height: 75px;
    line-height: 90px !important;
}

.icons2
{
    background:#20c0d4;
    color:#fff;
    padding:4%;
    text-align: center;
    width: 100px;
    height: 75px;
    line-height: 90px !important;
}

.icons3
{
    background:green;
    color:#fff;
    padding:4%;
    text-align: center;
    width: 100px;
    height: 75px;
    line-height: 90px !important;
}

.icons4
{
    background:orange;
    color:#fff;
    padding:4%;
    text-align: center;
    width: 100px;
    height: 75px;
    line-height: 90px !important;
}

.titles_panel
{
    /*font-weight: bold;*/
    font-size:17px;
    color:#999;
}

a.top_list
{
    color:#fff !important;
}

#page-header
{
    font-family: Roboto Condensed;
    font-size: 20px;
}

div.panel_stats
{
    background:#fff !important;
}

#dashboard
{
    background:#20c0d4;
    color:#fff !important;
    margin-bottom: 0px !important;
    margin-top: 2%;
    position: absolute;
    width: 80%;
    -webkit-box-shadow: 1px 4px 5px -3px rgba(32,192,212,0.2);
    -moz-box-shadow: 1px 4px 5px -3px rgba(32,192,212,0.2);
    box-shadow: 1px 4px 5px -3px rgba(32,192,212,0.2);
}

.navs_item
{
  padding:4%;
  color:#000 !important;
}


.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.side-nav li:hover{
    background:transparent !important;
}

.side-nav li a:hover{
    background:transparent !important;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}




@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        /*background-color: #000 !important;*/
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
